# Dependências do Node (ESSENCIAL)
node_modules/
.pnpm-store/

# Arquivos de log e depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de editores de código (opcional)
.vscode/
.idea/

# Variáveis de ambiente
.env
.env.local